* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  display: grid;
}
body {
  /* background: url(../images/bg-4.jpg) center/cover no-repeat; */
  background: rgb(170, 75, 107);
  background: linear-gradient(
    97deg,
    rgba(170, 75, 107, 1) 0%,
    rgba(107, 107, 131, 1) 35%,
    rgba(59, 140, 153, 0.817) 100%
  );
  background-size: 400%;
  min-height: 550px;
  transition: all 0.5s;
  animation: bg-mov 3s infinite;
}

@keyframes bg-mov {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
.container {
  border: 2px solid rgba(255, 166, 0, 0.373);
  width: 350px;
  border-radius: 1rem;
  overflow: hidden;
  background: rgb(20, 30, 48);
  background: linear-gradient(
    97deg,
    rgba(20, 30, 48, 1) 0%,
    rgb(31, 50, 72) 78%
  );
}
.flex-center {
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
  width: 100vw;
}

/* display area */
.display-container {
  padding: 3rem;
  color: #ffffff;
}
.display,
.result {
  overflow: hidden;
  width: 100%;
  text-align: right;
}
.display {
  min-height: 2rem;
}

/* buttons area */
.keys {
  border-top: 1px solid rgba(255, 166, 0, 0.429);
  grid-template-columns: repeat(4, 55px);
  grid-template-rows: repeat(5, 55px);
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}
button {
  font-size: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: transparent;
  background: rgba(255, 252, 245, 0.326);
  color: #ffffff;
  transition: background-color 0.3s, transform 0.1s;
  cursor: pointer;
}
.key:hover {
  background: rgba(255, 166, 0, 0.469);
}
.key:active {
  transform: scale(1.1);
  background: rgba(255, 166, 0, 0.743);
}
#equal {
  border: 2px solid transparent;
  grid-column: 3/5;
  border-radius: 0.625rem;
  background: rgba(255, 166, 0, 0.743);
  transition: background-color 0.3s;
}
#equal:active {
  border-color: rgba(255, 166, 0, 0.906);
  background-color: transparent;
}
.keys :is(.operator, #ac, #c) {
  color: rgb(255, 166, 0);
  background: rgba(18, 18, 18, 0.381);
  font-weight: 700;
}

:is(.operator, #ac, #c):is(:active) {
  color: #8a8a8a;
  background: rgba(229, 255, 0, 0.809);
}

:where(img) {
  width: 60%;
}

#ac,
#c {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
