* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  display: grid;
}
body {
  background: url(../images/bg-4.jpg) center/cover no-repeat;
  min-height: 550px;
}
.container {
  background: rgba(255, 0, 128, 0.268);
  border: 2px solid rgba(255, 166, 0, 0.373);
  width: 350px;
  /* max-width: 400px; */
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(47, 255, 0, 0.308) 0px 50px 100px -20px,
    rgba(242, 250, 0, 0.518) 0px 30px 60px -30px,
    rgba(207, 255, 15, 0.426) 0px -2px 6px 0px inset;
  background-color: #444444;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
  width: 100vw;
}

/* display area */
.display-container {
  padding: 3rem;
  color: #ffffff;
}
.display,
.result {
  overflow: hidden;
  width: 100%;
  text-align: right;
}
.display {
  min-height: 2rem;
}
.display-container {
  /* background:rgb(22, 27, 37); */
}
/* buttons area */
.keys {
  border-top: 1px solid rgba(255, 166, 0, 0.429);
  grid-template-columns: repeat(4, 55px);
  grid-template-rows: repeat(5, 55px);
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}
button {
  font-size: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: transparent;
  background: rgba(255, 252, 245, 0.326);
  color: #ffffff;
  transition: background-color 0.3s, transform 0.1s;
}
.key:hover {
  background: rgba(255, 166, 0, 0.469);
}
.key:active {
  transform: scale(1.1);
  background: rgba(255, 166, 0, 0.743);
}
#equal {
  border: 2px solid transparent;
  grid-column: 3/5;
  border-radius: 0.625rem;
  background: rgba(255, 166, 0, 0.743);
  transition: background-color 0.3s;
}
#equal:active {
  border-color: rgba(255, 166, 0, 0.906);
  background-color: transparent;
}
.keys :is(.operator, #ac, #c) {
  color: rgb(255, 166, 0);
  background: rgba(18, 18, 18, 0.381);
  font-weight: 700;
}

:is(.operator, #ac, #c):is(:active) {
  color: #8a8a8a;
  background: rgba(229, 255, 0, 0.809);
}
